<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtendedNumerics.BigDecimal" version="3003.0.0.346" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.7" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.7" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.7" />
  <package id="NCalc" version="6.4.0" manuallyInstalled="true" />
  <package id="NCalc.Core" version="6.4.0" />
  <package id="NCalc.Domain" version="6.4.0" />
  <package id="NCalc.Parser" version="6.4.0" />
  <package id="Parlot" version="1.5.7" />
  <package id="System.Collections.Immutable" version="10.0.7" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.7" />
  <package id="System.IO.Pipelines" version="10.0.7" />
  <package id="System.Text.Encodings.Web" version="10.0.7" />
  <package id="System.Text.Json" version="10.0.7" />
</packages>